<div *ngIf="isAdmin()">
  <button class="btn newuser btn-outline-dark" (click)="newuserpopup = true">New User</button>
  <div class="overlay" *ngIf="newuserpopup">
    <div class="popup">
      <h2>Create new user</h2>
      <a class="close" (click)="newuserpopup = false">&times;</a>
      <form (ngSubmit)="save(); newuserpopup = false">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Username">Username</label>
            <input type="text" class="form-control" id="Username" name="username" [(ngModel)]="signUpDTO.username">
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Email">Email</label>
              <input type="text" class="form-control" id="Email" name="firstName" [(ngModel)]="signUpDTO.email">
            </div>

            <div class="form-group col-md-6">
              <label for="Password">Password</label>
              <input type="password" class="form-control" id="Password" name="password"
                     [(ngModel)]="signUpDTO.password">
            </div>
          </div>

        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>

      </form>
    </div>
  </div>

  <h1>Total pages: {{allPages}}</h1>
  <h2>Current page: {{currentPage + 1}}</h2>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Banned</th>
      <th scope="col">Role</th>
      <th scope="col">Ban</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.username}}</td>
      <td>{{user.banned}}</td>
      <td><b *ngIf="user.role === 'admin'">{{user.role}}</b>
        <select *ngIf="user.role != 'admin'" [(ngModel)]="user.role" name="role"
                (change)="changeRole(user)">
          <option value="admin">Admin</option>
          <option value="user">User</option>
          <option value="productmanager">PM</option>
          <option value="developer">Developer</option>
          <option value="tester">Tester</option>
        </select>
      </td>
      <td>
        <button *ngIf="!user.banned" class="btn btn-outline-dark" (click)="banUser(user.username)">Ban</button>
        <button *ngIf="user.banned" class="btn btn-outline-dark" (click)="unbanUser(user.username)">Unban</button>
      </td>

    </tr>
    <button class="btn btn-outline-dark" (click)="prevPage()" style="margin-left: 40px;">Previous</button>
    <button class="btn btn-outline-dark" (click)="nextPage()" style="margin-left: 10px;">Next</button>
    </tbody>
  </table>


</div>

<div *ngIf="isDeveloper()">
  <div class="tasks col-sm-8">
    <h3>Tasks</h3>
    <div class="card" *ngFor="let task of tasks">
      <div class="card-header">
        Task name: {{task.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Description: {{task.desc}}</h5>
        <h5 class="card-title">Priority: {{task.priority}}</h5>
        <h5 class="card-title">Due: {{task.duedate}}</h5>
        <h5 class="card-title">Estimated: {{task.estimatedtime}}</h5>
        <h5 class="card-title">Status: {{task.status}}</h5>
        <h5 class="card-title">Reporter: {{task.user}}</h5>
        <h5 class="card-title">Assignee: {{task.assignee}}</h5>
        <h5 class="card-title">Project: {{task.project}}</h5>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isProductManager()">
  <div class="tasks col-sm-8">
    <h3>Tasks</h3>
    <div class="card pmtasks" *ngFor="let task of tasks">
      <div class="card-header">
        Task name: {{task.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Description: {{task.desc}}</h5>
        <h5 class="card-title">Priority: {{task.priority}}</h5>
        <h5 class="card-title">Due: {{task.duedate}}</h5>
        <h5 class="card-title">Estimated: {{task.estimatedtime}}</h5>
        <h5 class="card-title">Status: {{task.status}}</h5>
        <h5 class="card-title">Reporter: {{task.user}}</h5>
        <h5 class="card-title">Assignee: {{task.assignee}}</h5>
        <h5 class="card-title">Project: {{task.project}}</h5>
      </div>
    </div>
  </div>
  <button class="btn newproject btn-outline-dark" (click)="newprojectpopup = true">New Project</button>
  <button class="btn newtask btn-outline-dark" (click)="newtaskpopup = true">New Task</button>

  <div class="overlay" *ngIf="newprojectpopup">
    <div class="popup">
      <h2>Create new project</h2>
      <a class="close" (click)="newprojectpopup = false">&times;</a>
      <form (ngSubmit)="addProject();newprojectpopup = false">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" name="name" [(ngModel)]="project.name">
          </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
  </div>

  <div class="overlay" *ngIf="newtaskpopup">
    <div class="popup">
      <h2>Create new Task</h2>
      <a class="close" (click)="newtaskpopup = false">&times;</a>
      <form (ngSubmit)="addTask();newtaskpopup = false">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="TaskName">Name</label>
            <input type="text" class="form-control" id="TaskName" name="taskName" [(ngModel)]="task.name">
            <br>
            <br>
            <label for="Status">Status</label>
            <select name="status" id="Status" [(ngModel)]="task.status">
              <option value="to do">to do</option>
              <option value="in progress">in progress</option>
              <option value="done">done</option>
            </select>
            <br>
            <br>
            <label for="Project">Project</label>
            <select name="project" id="Project" [(ngModel)]="task.project">
              <option *ngFor="let project of projects" value="{{project.name}}">{{project.name}}</option>
            </select>

            <label for="Reporter">Reporter</label>
            <input name="reporter" id="Reporter" [(ngModel)]="task.user">

            <label for="Assignee">Assignee</label>
            <input name="assignee" id="Assignee" [(ngModel)]="task.assignee">

          </div>
        </div>
        <button type="submit" class="btn btn-outline-dark">Submit</button>
      </form>
    </div>
  </div>


</div>

<div *ngIf="isTester()">
  <div class="tasks col-sm-8">
    <h3>Tasks</h3>
    <div class="card" *ngFor="let task of tasks">
      <div class="card-header">
        Task name: {{task.name}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Description: {{task.desc}}</h5>
        <h5 class="card-title">Priority: {{task.priority}}</h5>
        <h5 class="card-title">Due: {{task.duedate}}</h5>
        <h5 class="card-title">Estimated: {{task.estimatedtime}}</h5>
        <h5 class="card-title">Status: {{task.status}}</h5>
        <h5 class="card-title">Reporter: {{task.user}}</h5>
        <h5 class="card-title">Assignee: {{task.assignee}}</h5>
        <h5 class="card-title">Project: {{task.project}}</h5>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isUser()">
  <p>
    <a href="">Project list</a>
  </p>
</div>
