.showtaskbtn {
  position: absolute;
  right: 10px;
}

.btn {
  margin-left: 20px;
  height: 30px;
  text-align: center;
  padding: 0;
  width: 75px;
}
.close {
  cursor: pointer;
}

.close:hover {
  color: red;
}
