<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Stage</th>
    <th scope="col">Due</th>
    <th scope="col">Estimated</th>
    <th scope="col">Description</th>
    <th scope="col">Assignees</th>
    <th scope="col">Tasks</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of projects">
    <td>{{project.name}}</td>
    <td>{{project.stage}}</td>
    <td>{{project.duedate}}</td>
    <td>{{project.estimatedtime}}</td>
    <td>{{project.desc}}</td>
    <td>{{project.assignees}}</td>
    <td>{{project.tasks}}</td>
  </tr>
  </tbody>
</table>
