<table class="table" align="center">
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
  </tr>
  <tr>
    <td colspan="3">
      <h3 style="display: inline-block">Current page: {{currentPage + 1}} of {{allPages}}</h3>
      <button class="btn page-link" (click)="prevPage()" style="margin-left: 40px; display: inline-block;">Previous</button>
      <button class="btn page-link" (click)="nextPage()" style="display: inline-block; margin-left: 10px;">Next</button>
    </td>
  </tr>
  </tbody>
</table>

