<!--<h1>Total page: {{pageable.totalElements}}</h1>-->
<table class="table">
  <thead>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Role</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.username}}</td>
    <td>{{user.email}}</td>
    <td>{{user.role}}</td>
  </tr>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
